<!-- Footer -->
<footer id="footer" class="mt-4 bg-light">
  <div class="container">
    <div class="row justify-content-between px-2">
      <div class="col-md-auto pt-2 pb-3 footer-contact">
        <h3>{{- site.data.i18n.footer.contact[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <div>
          <i class="fa-phone-square mr-1 align-middle"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.phone_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
            <a href="tel:{{- site.data.i18n.footer.phone[page.lang] | remove: '(' | remove: ')' | remove: ' ' | strip_html | strip_newlines | xml_escape -}}">
          {{- site.data.i18n.footer.phone[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
          </small>
        </div>
        <div class="mt-4">
          <i class="fa-map-marker mr-1"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.address_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
          {{- site.data.i18n.footer.address[page.lang][0] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
          {{- site.data.i18n.footer.address[page.lang][1] | append: ' / ' | append: site.data.i18n.footer.address[page.lang][2] | strip_html | strip_newlines | xml_escape -}}
          </small>
        </div>
        <div class="mt-4">
          <i class="fa-envelope mr-1"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.email_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
            <a href="mailto:{{- site.email | strip_html | strip_newlines | xml_escape -}}">
              {{- site.email | strip_html | strip_newlines | xml_escape -}}
            </a>
          </small>
        </div>
      </div>

      <div class="col-md-auto py-3 footer-navigation">
        <h3>{{- site.data.i18n.footer.nav[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <ul class="footer-navigation-links pl-0">
          {%- for my_page in site.data.navigation -%}
          {%- unless my_page.invisible or my_page.id == "male" or my_page.id == "female" or my_page.id == "child" -%}
          <li class="my-2">
            <a class="" href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}">
              {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
          </li>
          {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>

      {%- if post.lang == "tr" -%}
      <div class="col-md-auto py-3 footer-navigation">
        <h3>{{- site.data.i18n.footer.nav_popular[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <ul class="footer-navigation-links pl-0">
          {%- for post in site.posts -%}
          {%- if post.lang == page.lang -%}
          {%- if post.i18n-link == "prostat-kanseri" or post.i18n-link == "penis-buyutme" or post.i18n-link == "erken-bosalma" or post.i18n-link == "mesane-kanseri" or post.i18n-link == "sertlesme-problemleri" or post.i18n-link == "kadin-uretra-darliklari" or post.i18n-link == "mesane-kanseri" -%}
          <li class="my-2">
            <a class="" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </li>
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}

      <div class="col-md-auto social-media py-3">
        <h3 class="social-media-title">{{- site.data.i18n.footer.social_name[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.instagram.com/prof.dr.yavuz.onol/" aria-label="On Instagram">
          <i class="fa-instagram"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.youtube.com/channel/UCBsH2K82DJBXSAFyHJ6AWDw" aria-label="On Youtube">
          <i class="fa-youtube-square"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.facebook.com/%C3%96nol-%C3%9Croloji-Merkezi-293508391178588/?ref=br_rs" aria-label="On Facebook">
          <i class="fa-facebook-square"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://twitter.com/YavuzOnol" aria-label="On Twitter">
          <i class="fa-twitter-square"></i>
        </a>
      </div>
    </div>
    <div class="row pb-1 pt-5 justify-content-center text-center footer-license">
      <div class="col-md-auto">
        <small>
        {% if site.gnu.shortname and site.gnu.url -%}
          {{- site.data.i18n.legal[page.lang][1] | strip_html | strip_newlines | xml_escape -}}&nbsp;
          <a rel="nofollow noreferrer noopener license" target="_blank" href="{{- site.gnu.url | strip_html | strip_newlines | uri_escape -}}" class="cc-licence">
            {{- site.gnu.shortname | strip_html | strip_newlines | xml_escape -}}
          </a>
        {%- endif %}
        </small>
        <br />
        <small>
        {% if site.cc.shortname and site.cc.url -%}
          {{- site.data.i18n.legal[page.lang][0] | strip_html | strip_newlines | xml_escape -}}&nbsp;
          <a rel="nofollow noreferrer noopener license" target="_blank" href="{{- site.cc.url | strip_html | strip_newlines | uri_escape -}}" class="cc-licence">
            {{- site.cc.shortname | strip_html | strip_newlines | xml_escape -}}
          </a>
        {%- endif %}
        </small>
      </div>
    </div>
  </div>
</footer>
