<!-- Footer -->
<footer id="footer" class="py-5 mt-4 bg-light">
  <div class="container">
    <div class="row justify-content-between px-2">
      <div class="col-md-auto py-2 footer-contact">
        <h3>{{- site.data.i18n.footer.contact[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <div>
          <i class="fa-phone-square mr-1 align-middle"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.phone_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
          {{- site.data.i18n.footer.phone[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
        </div>
        <div class="mt-2">
          <i class="fa-map-marker mr-1"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.address_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
          {{- site.data.i18n.footer.address[page.lang][0] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
          {{- site.data.i18n.footer.address[page.lang][1] | append: ' / ' | append: site.data.i18n.footer.address[page.lang][2] | strip_html | strip_newlines | xml_escape -}}
          </small>
        </div>
        <div class="mt-2">
          <i class="fa-envelope mr-1"></i>
          <small class="font-italic">
          {{- site.data.i18n.footer.email_name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </small>
          <br/>
          <small>
            <a href="mailto:{{- site.email | strip_html | strip_newlines | xml_escape -}}">
              {{- site.email | strip_html | strip_newlines | xml_escape -}}
            </a>
          </small>
        </div>
      </div>

      <div class="col-md-auto py-2 footer-navigation">
        <h3>{{- site.data.i18n.footer.nav[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <ul class="footer-navigation-links pl-0">
          {%- for my_page in site.data.navigation -%}
          {%- unless my_page.invisible -%}
          <li class="my-2">
            <a class="" href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}">
              {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
          </li>
          {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-auto social-media py-2">
        <h3 class="social-media-title">{{- site.data.i18n.footer.social_name[page.lang] | strip_html | strip_newlines | xml_escape -}}</h3>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.instagram.com/prof.dr.yavuz.onol/" aria-label="On Instagram">
          <i class="fa-instagram"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.youtube.com/channel/UCBsH2K82DJBXSAFyHJ6AWDw" aria-label="On Youtube">
          <i class="fa-youtube-square"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.facebook.com/%C3%96nol-%C3%9Croloji-Merkezi-293508391178588/?ref=br_rs" aria-label="On Facebook">
          <i class="fa-facebook-square"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://twitter.com/YavuzOnol" aria-label="On Twitter">
          <i class="fa-twitter-square"></i>
        </a>
      </div>
    </div>
    <div class="row pb-1 pt-3 justify-content-center">
      <div class="col-md-auto">
        <p>{{- site.data.i18n.footer.copyright[page.lang][0] | append: ' ' | append: site.title | append: '. ' | append: site.data.i18n.footer.copyright[page.lang][1] | strip_html | strip_newlines -}}</p>
      </div>
    </div>
  </div>
</footer>
