<div class="bg-light">
  <div class="navbar-above pt-1 pb-0 text-center">
    <div class="row justify-content-between align-items-center mw-100">
      <div class="col-md-auto navbar-above-address mw-100">
        <i class="fa-map-marker mr-1 align-middle"></i>
        <span class="align-middle">
          {{- site.data.i18n.footer.address[page.lang][0] | append: ' ' | append: site.data.i18n.footer.address[page.lang][1] | strip_html | strip_newlines | xml_escape -}}
        </span>
      </div>
      <div class="col-md-auto navbar-above-social mw-100">
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.instagram.com/prof.dr.yavuz.onol/" aria-label="On Instagram">
          <i class="fa-instagram mx-1"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.youtube.com/channel/UCBsH2K82DJBXSAFyHJ6AWDw" aria-label="On Youtube">
          <i class="fa-youtube-square mx-1"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://www.facebook.com/%C3%96nol-%C3%9Croloji-Merkezi-293508391178588/?ref=br_rs" aria-label="On Facebook">
          <i class="fa-facebook-square mx-1"></i>
        </a>
        <a rel="nofollow noreferrer noopener" target="_blank" href="https://twitter.com/YavuzOnol" aria-label="On Twitter">
          <i class="fa-twitter-square mx-1"></i>
        </a>
      </div>
      <div class="col-md-auto navbar-above-phone mw-100">
        <i class="fa-phone-square mr-1 align-middle"></i><a href="tel:{{- site.data.i18n.footer.phone[page.lang] | remove: '(' | remove: ')' | remove: ' ' | strip_html | strip_newlines | xml_escape -}}" class="align-middle">
      {{- site.data.i18n.footer.phone[page.lang] | strip_html | strip_newlines | xml_escape -}}</a>
      </div>
      <!-- <div class="col-md-auto dropdown language mw-100">
        <a id="" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{- site.data.i18n.navigation.lang[page.lang] | strip_html | strip_newlines | xml_escape -}}
        </a>
        <div class="dropdown-menu" aria-labelledby="">
          {%- for my_lang in site.langs -%}
          <a class="dropdown-item" hreflang="{{- my_lang.code -}}" href="{{- my_lang.base | strip_html | strip_newlines | uri_escape | absolute_url -}}">{{- my_lang.long -}}</a>
          {%- endfor -%}
        </div>
      </div> -->
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-xl sticky-top pt-2 pb-2 navbar-light bg-white border-bottom">
  <div class="container">
    {%- assign headerlogo = site.thumbnail.base | append: site.thumbnail.header_logo.dir | append: site.thumbnail.header_logo.name | append: '.png' -%}
    <a class="navbar-brand pt-3 mr-2" href="{{- '/' | uri_escape | relative_url -}}">
      <img src="{{- headerlogo | strip_html | strip_newlines | uri_escape | relative_url -}}" height="40" alt="{{- site.data.organization.name | strip_html | strip_newlines | xml_escape }} Logo" class="d-inline-block align-botton pr-2 pb-1" />
      {{- site.title | strip_html | strip_newlines | xml_escape -}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto pt-2">
        {%- for my_page in site.data.navigation -%}
        {%- unless my_page.invisible -%}
        {%- if my_page.category -%}
        <li class="nav-item dropdown mx-1">
          <a id="" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
          </a>

          <div class="dropdown-menu text-center" aria-labelledby="">
            {% assign sortedPosts = site.posts | sort: 'date' %}
            {% for post in sortedPosts %}
            {%- if post.category_id == my_page.id and post.lang == page.lang -%}
            <a class="dropdown-item" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {%- endif -%}
            {% endfor %}
          </div>
        </li>
        {%- else -%}
          {%- if my_page.id == "about" -%}
          <li class="nav-item dropdown mx-1">
            <a id="" class="nav-link dropdown-toggle" href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>

            <div class="dropdown-menu text-center" aria-labelledby="">
              {% for about_page in my_page.subitem %}
              {%- if about_page.id == "about-1" or about_page.id == "about-2" -%}
              <a class="dropdown-item" href="{{- about_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}">{{- about_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}</a>
              {%- endif -%}
              {% endfor %}
            </div>
          </li>
          {%- else -%}
          <li class="nav-item mx-1">
            <a class="nav-link" href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}">
              {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
          </li>
          {%- endif -%}
        {%- endif -%}
        {%- endunless -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
<!-- No JS warning -->
{% if site.data.i18n.nojs[page.lang] -%}
<noscript>
  <div class="container text-center text-danger font-weight-bold pt-2">
    <p>
      {{- site.data.i18n.nojs[page.lang] | strip_html | strip_newlines | xml_escape -}}
    </p>
  </div>
</noscript>
{%- endif %}
