// GENERAL SETTINGS
html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  transition-duration: $link-transition-duration;
  transition-timing-function: $link-timing-function;
}

.text-lightgrey {
  color: $gray-300;
}

.text-midgrey {
  color: $gray-600;
}

.text-darkgrey {
  color: $gray-700;
}

.text-orange {
  color: $orange;
}

.text-justify {
  hyphens: auto;

  p {
    hyphens: auto !important;
  }
}

.push-footer {
  flex: 1 0 auto;
}

/**
 * Blockquotes
 */

blockquote {
  color: $gray-600;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 2);
  font-size: $blockquote-font-size;
}

/**
 * Code formatting
 */

pre {
  display: block;
  padding-top: map-get($spacers, 2);
  padding-bottom: map-get($spacers, 2);
  padding-left: map-get($spacers, 2);
  padding-right: map-get($spacers, 2);
  text-align: left;
  overflow-x: auto;

  // rouge adds a table if line numbers are shown
  table {
    margin-left: 0;
    // there is a second pre element when rouge outputs code
    // bootstrap calculation results in double scaling-down
    // normalize it back to the intended size
    pre {
      font-size: $font-size-base * ($code-font-size / 100%);
    }
  }
}

pre.highlight,
figure.highlight,
code.highlighter-rouge {
  background-color: darken($body-bg-grey, 3%);
}

code.highlighter-rouge {
  padding-top: map-get($spacers, 2);
  padding-bottom: map-get($spacers, 1) / 2;
  padding-left: map-get($spacers, 1);
  padding-right: map-get($spacers, 1);
}

// WHOLE PAGE
.fixed-phone {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 3.25em;
  z-index: 999;
  color: $brand;
  .fa-phone{
    padding: 8px;
    border: 2px solid $brand;
    border-radius: 48%;
    color: $brand;
  }

  @media only all and (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
  }

}

.language {
  .dropdown-menu {
    z-index: 2000;
    .dropdown-item {
      z-index: 2000;
    }
  }
}

// HOME PAGE

.home {
  .jumbotron-fluid {
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, $info-box-bg, lighten($info-box-bg, 10%));
    color: $white;
  }

  .info-box {
    line-height: $alt-line-height;

    @media only all and (min-width: map-get($grid-breakpoints, sm)) {

    }

    @media only all and (min-width: map-get($grid-breakpoints, md)) {

    }

    @media only all and (min-width: map-get($grid-breakpoints, lg)) {
      position: absolute;
      top: 475px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @media only all and (min-width: map-get($grid-breakpoints, xl)) {
      position: absolute;
      top: 500px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .card {
      background-color: $urologue-green;
      color: $white;
      opacity: 0.85;

      .card-title {
        font-family: $font-family-sans-serif;
      }

      .card-text {
        font-size: $alt-font-size;
      }
    }

  }

  .doctors {
    line-height: $alt-line-height;
    .doctors-title {
      color: $urologue-green;
      font-size: 2.15em;
    }
    .card {
      opacity: 0.85;

      .card-title {
        color: $urologue-green;
        font-size: 1.35em;
      }
      .card-text {
        font-size: $alt-font-size;
      }

      .doctors-img {
        box-shadow: 2px 2px 6px #555555;
      }
    }

  }

  .carousel-item {
    height: 82.5vh;
    img {
      height: 100%;
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
    }

    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;


        .carousel-caption-title {
          background-color: $white;
          color: $gray-900;
          opacity: 0.6;
          font-size: 2em;
        }
    }
  }
}

// CATEGORIES
.categories {
  .jumbotron {
    background-color: $info-box-bg;
    color: $white;
  }

  .category-post-list {
    a, p {
      font-size: 1.25em;
    }
  }
}


// CONTACT PAGE
.contact-page {
  .jumbotron {
    background-color: lighten($urologue-green, 15%);
    color: $white;
  }
}


// ARCHIVE-POSTLIST

.archive {
  .archive-image-wrapper {
    // fix extra text nodes
    font-size: 0;
    line-height: 0;
  }

  .archive-noarticle {
    background-color: $gray-100;
  }

  .fa-exclamation-circle {
    font-size: $social-media-icon-size;
  }
}

// POST

.post {
  header {
    .jumbotron {
      background-color: lighten($urologue-green, 15%);
      color: $white;
    }
  }

  .post-content {
    font-family: $font-family-sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: left;
      color: $brand;
      font-family: $font-family-sans-serif;
    }

    p {
      text-align: justify;
      hyphens: auto;
      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 1.10em;
      }
    }

    img {
      max-width: 100%;

      @media only all and (min-width: map-get($grid-breakpoints, sm)) {
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, md)) {
        float: left;
        width: 50%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        float: left;
        width: 50%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        float: left;
        width: 50%;
      }
    }
  }

}


// CALL TO ACTION
.calltoaction {
  line-height: $alt-line-height;

  .calltoaction-social {
    font-size: $social-media-icon-size;

    .calltoaction-facebook {
      color: $facebook-blue;
    }

    .calltoaction-facebook:hover {
      color: darken($facebook-blue, $social-media-icon-hover);
    }

    .calltoaction-twitter {
      color: $twitter-blue;
    }

    .calltoaction-twitter:hover {
      color: darken($twitter-blue, $social-media-icon-hover);
    }

    .calltoaction-reddit {
      color: $reddit-red;
    }

    .calltoaction-reddit:hover {
      color: darken($reddit-red, $social-media-icon-hover);
    }

    .calltoaction-linkedin {
      color: $linkedin-blue;
    }

    .calltoaction-linkedin:hover {
      color: darken($linkedin-blue, $social-media-icon-hover);
    }

    .calltoaction-telegram {
      color: $telegram-blue;
    }

    .calltoaction-telegram:hover {
      color: darken($telegram-blue, $social-media-icon-hover);
    }
  }
}

// NAVIGATION BAR
.navbar-above {
  line-height: $alt-line-height;
  font-size: $small-font-size;

  @media only all and (min-width: map-get($grid-breakpoints, xl)) {
    padding-left: $navbar-above-padding;
    padding-right: $navbar-above-padding;
  }

  .navbar-above-social {
    font-size: 2rem;
    color: $brand;
    i {
      color: $brand;
    }
  }

  .navbar-above-address,
  .navbar-above-phone {
    i {
      color: $brand;
      font-size: 1.2em;
    }
  }
}

.navbar {
  line-height: $alt-line-height;

  .navbar-brand {
    font-family: $font-family-serif;
    color: $brand;
    font-size: 2em;
    font-weight: 500;
    img {
      width: auto;
    }
  }

  .nav-item {
    font-size: $alt-font-size;

    .nav-link {
      color: $gray-600;
      outline: none;
      border: none;
    }

    .nav-link:hover {
      color: $link-color;
    }

  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 1.625em;
      height: 1.625em;
    }
  }

  .dropdown-menu {
    font-size: $alt-font-size;
    line-height: $alt-line-height;
    border: none;

    .dropdown-item {
      font-size: $alt-font-size;
      line-height: $alt-line-height;
    }

    .dropdown-item:hover {
      background-color: $white;
      color: $link-color;
    }
  }
}

// FOOTER

footer {
  flex-shrink: 0;
  line-height: $alt-line-height;
  background-color: $footer-bg;
  color: $white;
  a {
    color: $white;
  }
  a:hover {
    color: $white;
  }

  .footer-contact {
    i {
      font-size: 1.1em;
    }
  }

  .social-media {
    font-size: $social-media-icon-size;
    color: $gray-900;

    a {
      color: $gray-700;
    }
    a:hover {
      color: $gray-600;
    }

    .social-media-title {
      color: $white;
    }
  }
}

// Lazysizes.js Start
// Set at least min height and width to minimize reflows
// Fade image in after load
.lazyload,
.lazyloading {
  min-height: 100px;
  min-width: 100px;
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
// Lazysizes.js End


// EMBED VIDEOS
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// TOC

#markdown-toc::before {
    font-weight: bold;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    padding: 2em;
    list-style: decimal;
    display: block;
    background-color: lighten($gray-100, 2.5%);
}
