// GENERAL SETTINGS
html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

// Clearfix for images
p::after {
  content: "";
  clear: left;
  display: table;
}

a {
  transition-duration: $link-transition-duration;
  transition-timing-function: $link-timing-function;
}

.btn {
  font-family: $font-family-sans-serif !important;
}

.text-lightgrey {
  color: $gray-300;
}

.text-midgrey {
  color: $gray-600;
}

.text-darkgrey {
  color: $gray-700;
}

.text-orange {
  color: $orange;
}

.text-justify {
  hyphens: auto;

  p {
    hyphens: auto !important;
  }
}

.push-footer {
  flex: 1 0 auto;
}

/**
 * Blockquotes
 */

blockquote {
  color: $gray-600;
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 2);
  font-size: $blockquote-font-size;
}

// WHOLE PAGE
.fixed-phone {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 3em;
  z-index: 999;
  color: $icon-green;
  .fa-phone{
    padding: 8px;
    border: 2px solid $brand;
    border-radius: 48%;
    color: $icon-green;
  }

  @media only all and (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    font-size: 0;
    height: 0;
    width: 0;
    line-height: 0;
  }

}

// HOME PAGE

.home {
  .carousel-control-prev,
  .carousel-control-next {
    width: 7.5%;
  }
  .carousel-indicators {
    margin-bottom: 8px;
  }

  .jumbotron-fluid {
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(76,147,159,0.95),rgba(76,147,159,0.95)), url("/assets/img/band-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    color: $white;
    margin-top: 75px;
    margin-bottom: 75px;

    .btn {
      color: $white;
      background-color: darken($brand, 7.5%);
      transition-duration: $link-transition-duration;
      transition-timing-function: $link-timing-function;
    }

    .btn:hover {
      background-color: lighten($brand, 5%);
    }

  }

  .info-box {
    line-height: $alt-line-height;

    @media only all and (min-width: map-get($grid-breakpoints, sm)) {

    }

    @media only all and (min-width: map-get($grid-breakpoints, md)) {

    }

    @media only all and (min-width: map-get($grid-breakpoints, lg)) {
      position: absolute;
      top: 52.5%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    @media only all and (min-width: map-get($grid-breakpoints, xl)) {
      position: absolute;
      top: 52.5%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .card {
      background-color: $urologue-green;
      color: $white;
      opacity: 0.875;
      line-height: $alt-line-height;

      .card-title {
        font-family: $font-family-sans-serif;
      }

      .card-text {
        font-size: $alt-font-size * 0.9;
      }

      .card-body {
        padding-bottom: 5px;
      }

      .card-footer {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      .btn {
        color: $white;
        background-color: darken($urologue-green, 5%);
        transition-duration: $link-transition-duration;
        transition-timing-function: $link-timing-function;
      }
      .btn:hover {
        background-color: lighten($urologue-green, 5%);
      }
    }

  }

  .doctors {
    line-height: $alt-line-height;
    .doctors-title {
      color: $urologue-green;
      font-family: $font-family-serif;
      font-size: 1.85em;
    }

    .card {
      opacity: 0.95;

      .card-title {
        color: $urologue-green;
        font-family: $font-family-serif;
        font-size: 1.30em;
      }
      .card-text {
        font-size: $alt-font-size;
      }

      .doctors-img {
        box-shadow: 2px 2px 6px #555555;
      }

      .btn {
        color: $white;
        background-color: $urologue-green;
      }

      .card-footer {
        background-color: $white;

        .btn {
          color: $white;
          background-color: darken($urologue-green, 5%);
          transition-duration: $link-transition-duration;
          transition-timing-function: $link-timing-function;
        }

        .btn:hover {
          background-color: lighten($urologue-green, 5%);
        }
      }
    }

  }

  .carousel-item {
    height: 87.5vh;
    img {
      height: 100%;
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
    }

    .carousel-caption {
        position: relative;
        left: 0;
        top: 0;

        .carousel-caption-title {
          background-color: $brand;
          color: $white;
          opacity: 0.8;
          font-size: 1.85em;
          font-family: $font-family-serif;
        }
    }
  }
}

// CATEGORIES
.categories {
  .jumbotron {
    background-color: $info-box-bg;
    color: $white;
  }

  .jumbotron-fluid {
    background-image: linear-gradient(rgba(96,218,166,0.95),rgba(96,218,166,0.95)), url("/assets/img/band-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .category-post-list {
    a, p {
      font-size: 1.20em;
    }
  }
}


// ABOUT PAGE
.about-page {
  .jumbotron {
    background-color: lighten($urologue-green, 15%);
    color: $white;
  }

  .jumbotron-fluid {
    background-image: linear-gradient(rgba(96,218,166,0.85),rgba(96,218,166,0.85)), url("/assets/img/band-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    h1 {
      font-family: $font-family-serif;
    }
  }
}

// CONTACT PAGE
.contact-page {
  .jumbotron {
    background-color: lighten($urologue-green, 15%);
    color: $white;
  }

  .jumbotron-fluid {
    background-image: linear-gradient(rgba(96,218,166,0.95),rgba(96,218,166,0.95)), url("/assets/img/band-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    h1 {
      font-family: $font-family-serif;
    }
  }
}


// ARCHIVE-POSTLIST

.archive {
  .archive-image-wrapper {
    // fix extra text nodes
    font-size: 0;
    line-height: 0;
  }

  .archive-noarticle {
    background-color: $gray-100;
  }

  .fa-exclamation-circle {
    font-size: $social-media-icon-size;
  }
}

// POST

.post {
  img {
    box-shadow: 2px 2px 6px #555555;
    margin-right: 20px;
  }

  header {
    .jumbotron {
      background-color: lighten($urologue-green, 15%);
      color: $white;
    }
    .jumbotron-fluid {
      background-image: linear-gradient(rgba(96,218,166,0.95),rgba(96,218,166,0.95)), url("/assets/img/band-bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      h1 {
        font-family: $font-family-serif;
      }
    }
  }

  .post-content {
    // font-family: $font-family-sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: left;
      color: $brand;
      font-family: $font-family-sans-serif;
    }

    p {
      text-align: justify;
      hyphens: auto;
      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        font-size: 1em;
      }
    }

    img {
      max-width: 100%;

      @media only all and (min-width: map-get($grid-breakpoints, sm)) {
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, md)) {
        float: left;
        width: 35%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        float: left;
        width: 35%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        float: left;
        width: 35%;
      }
    }

    img.size2 {
      max-width: 100%;

      @media only all and (min-width: map-get($grid-breakpoints, sm)) {
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, md)) {
        float: left;
        width: 50%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        float: left;
        width: 50%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        float: left;
        width: 50%;
      }
    }

    img.size1 {
      max-width: 100%;

      @media only all and (min-width: map-get($grid-breakpoints, sm)) {
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, md)) {
        float: left;
        width: 25%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        float: left;
        width: 25%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        float: left;
        width: 25%;
      }
    }

    .carousel {
      background-color: $black;

      // height: 90vh;
      // width: 100%;

      @media only all and (min-width: map-get($grid-breakpoints, sm)) {
        height: 90vh;
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, md)) {
        height: 90vh;
        width: 100%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        height: 75vh;
        width: 50%;
      }

      @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        height: 75vh;
        width: 50%;
      }

      .carousel-control-prev,
      .carousel-control-next {
        width: 7.5%;
      }
      .carousel-indicators {
        margin-bottom: 8px;
      }

      .carousel-inner {
        height: 100%;

        .carousel-item {
          height: 100%;
          filter: blur(5px);
          transition: filter 0.75s;

          img {
            height: 100%;
            width: 100%;
            object-fit:contain;
          }
        }

        .carousel-item:hover {
          transition: filter 0.75s;
          filter: none;
        }
      }
    }
  }
}

// NAVIGATION BAR
.navbar-above {
  line-height: $alt-line-height;
  font-size: $alt-font-size * 0.875;
  color: $gray-700;

  @media only all and (min-width: map-get($grid-breakpoints, xl)) {
    padding-left: $navbar-above-padding;
    padding-right: $navbar-above-padding;
  }

  .navbar-above-social {
    font-size: 1.85rem;
    i {
      color: $gray-600;
    }
  }

  .navbar-above-address,
  .navbar-above-phone {
    i {
      color: $icon-green;
      font-size: 1.275em;
    }
  }

  .language {
    a {
      color: $gray-700;
    }
    .dropdown-menu {
      z-index: 2000;
      .dropdown-item {
        z-index: 2000;
      }
    }
  }
}

.navbar {
  line-height: $alt-line-height * 0.95;

  .dropdown:hover > .dropdown-menu {
   display: block;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .navbar-toggler {
    width: 56px;
    height: 50px;
  }

  .navbar-brand {
    font-family: $font-family-serif;
    color: $urologue-green;
    font-size: 1.70em;
    img {
      width: auto;
    }
  }

  .nav-item {
    font-size: $alt-font-size * 0.95;

    .nav-link {
      color: $gray-700;
      outline: none;
      border: none;
    }

    .nav-link:hover {
      color: $link-color;
    }

  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 1.625em;
      height: 1.625em;
    }
  }

  .dropdown-menu {
    font-size: $alt-font-size * 0.85;
    line-height: $alt-line-height;
    border: none;
    left: -50%;

    .dropdown-item {
      font-size: $alt-font-size * 0.85;
      line-height: $alt-line-height;
    }

    .dropdown-item:hover {
      background-color: $white;
      color: $link-color;
    }
  }
}

// FOOTER

footer {
  flex-shrink: 0;
  line-height: $alt-line-height;
  color: $gray-800;
  padding-top: 90px;
  padding-bottom: 90px;
  a {
    color: $gray-800;
  }
  a:hover {
    color: $gray-600;
  }

  .footer-contact {
    i {
      font-size: 1em;
    }
  }

  .footer-navigation {
    .footer-navigation-links{
      font-size: 0.85em;
      list-style-type: none;
    }
  }

  .social-media {
    font-size: $social-media-icon-size;
    color: $gray-800;

    a {
      color: $gray-800;
    }
    a:hover {
      color: $gray-600;
    }

    .social-media-title {
      color: $gray-800;
    }
  }

  .footer-license {
    font-size: $small-font-size * 0.95;
  }
}

// Lazysizes.js Start
// Set at least min height and width to minimize reflows
// Fade image in after load
.lazyload,
.lazyloading {
  min-height: 100px;
  min-width: 100px;
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
// Lazysizes.js End


// EMBED VIDEOS
.embed-container {
  width: 100%;
  height: 450px;

  .embed-container-downstream {
    width: 100%;
    height: 100%;

    iframe, object, embed {
      width: 100%;
      height: 100%;
      box-shadow: 2px 2px 6px #555555;
    }
  }
}


// TOC

.toc {
  font-size: $alt-font-size * 0.94;

  .toc-wrapper {
    height: 100%;
    background-color: lighten($gray-100, 2.5%);
  }

  ul {
    list-style: decimal;
  }

}
