<!DOCTYPE html>
<html lang="{{- page.lang -}}">

  <head>
  {% include head.html %}
  </head>

  <body>
    <div class="push-footer">
      {% include navigation.html %}

      {{ content }}

      <a class="fixed-phone" href="{{- 'tel:' | append: site.data.i18n.footer.phone_link[page.lang] -}}" title="{{- site.data.i18n.phone_name -}}" aria-label="{{- site.data.i18n.phone_name -}}"><i class="fa-phone"></i></a>
    </div>

    {% include footer.html %}

    {%- if site.analytics.google.name and site.analytics.google.dir %}
    {%- assign gsource = site.analytics.google.dir | append: site.analytics.google.name -%}
    <script type="text/javascript" src="{{- gsource | strip_html | strip_newlines | uri_escape | relative_url -}}" defer></script>
    {%- endif %}
  </body>
</html>
