<!DOCTYPE html>
<html lang="{{- page.lang -}}">

  <head>
  {% include head.html %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52XD7RL"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="push-footer">
      {% include navigation.html %}

      {{ content }}

      <a class="phone-trigger-dummy fixed-phone" href="{{- 'tel:' | append: site.data.i18n.footer.phone_link[page.lang] -}}" title="{{- site.data.i18n.footer.phone_name[page.lang] -}}" aria-label="{{- site.data.i18n.footer.phone_name[page.lang] -}}"><i class="fa-phone"></i></a>
    </div>

    {% include footer.html %}

    {%- if site.analytics.google.name and site.analytics.google.dir %}
    {%- assign gsource = site.analytics.google.dir | append: site.analytics.google.name -%}
    <script type="text/javascript" src="{{- gsource | strip_html | strip_newlines | uri_escape | relative_url -}}" defer></script>
    {%- endif %}
  </body>
</html>
