---
layout: default
---
<main class="contact-page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="container">
    <div class="row my-5">
      <div class="col-md-6">
        <iframe width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Cumhuriyet,Prof+Dr+Yavuz+Onol,Cicek+Apt,Halaskargazi+Caddesi,Sisli+Istanbul&key=AIzaSyBB3OJu7EheDh54DbEjUJYZGyfgtYL-J4o" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="namesurname">{{- site.data.i18n.contact.namesurname[page.lang] -}}</label>
            <input type="text" class="form-control" id="namesurname" placeholder="{{- site.data.i18n.contact.namesurname[page.lang] -}}">
          </div>
          <div class="form-group">
            <label for="inputemail">{{- site.data.i18n.contact.email[page.lang] -}}</label>
            <input type="email" class="form-control" id="inputemail" placeholder="{{- site.data.i18n.contact.email[page.lang] -}}">
          </div>
          <div class="form-group">
            <label for="subject">{{- site.data.i18n.contact.subject[page.lang] -}}</label>
            <input type="text" class="form-control" id="subject" placeholder="{{- site.data.i18n.contact.subject[page.lang] -}}">
          </div>
          <div class="form-group">
            <label for="textarea">{{- site.data.i18n.contact.msg[page.lang] -}}</label>
            <textarea class="form-control" id="textarea" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">{{- site.data.i18n.contact.submit[page.lang] -}}</button>
        </form>
      </div>
    </div>
  </div>
</main>
