---
layout: default
---

<main aria-label="Main Content" class="home">
  {%- assign thumb_base = site.thumbnail.base | strip_html | strip_newlines | uri_escape -%}
  {%- assign thumb_home = site.thumbnail.home | strip_html | strip_newlines | uri_escape -%}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="carousel-caption mt-5">
          <h2 class="carousel-caption-title py-4">{{- site.data.i18n.home.carousel[page.lang][0] | strip_html | strip_newlines | xml_escape -}}</h2>
        </div>
        ​<picture>
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v1' | append: '.webp' | relative_url -}}" type="image/webp">
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v1' | append: '.jpg' | relative_url -}}" type="image/jpeg">
          <img src="{{- thumb_base | append: thumb_home | append: 'carousel-v1' | append: '.jpg' | relative_url -}}" class="" alt="Önol Üroloji">
        </picture>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption mt-5">
          <h2 class="carousel-caption-title py-4">{{- site.data.i18n.home.carousel[page.lang][2] | strip_html | strip_newlines | xml_escape -}}</h2>
        </div>
        ​<picture>
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v3' | append: '.webp' | relative_url -}}" type="image/webp">
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v3' | append: '.jpg' | relative_url -}}" type="image/jpeg">
          <img src="{{- thumb_base | append: thumb_home | append: 'carousel-v3' | append: '.jpg' | relative_url -}}" class="" alt="Önol Üroloji">
        </picture>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption mt-5">
          <h2 class="carousel-caption-title py-4">{{- site.data.i18n.home.carousel[page.lang][1] | strip_html | strip_newlines | xml_escape -}}</h2>
        </div>
        ​<picture>
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v2' | append: '.webp' | relative_url -}}" type="image/webp">
          <source srcset="{{- thumb_base | append: thumb_home | append: 'carousel-v2' | append: '.jpg' | relative_url -}}" type="image/jpeg">
          <img src="{{- thumb_base | append: thumb_home | append: 'carousel-v2' | append: '.jpg' | relative_url -}}" class="" alt="Önol Üroloji">
        </picture>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container my-5 info-box">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4 px-1">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{- site.data.i18n.home.card.title[page.lang][0] | strip_html | strip_newlines | xml_escape -}}</h3>
            <p class="card-text text-justify pb-3">{{- site.data.i18n.home.card.desc[page.lang][0] | strip_html | strip_newlines | xml_escape -}}</p>
          </div>
          <div class="card-footer">
            {%- for my_page in site.data.navigation -%}
            {%- if my_page.id == "male" -%}
            <a href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn btn-sm" role="button">
            {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 px-1">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{- site.data.i18n.home.card.title[page.lang][1] | strip_html | strip_newlines | xml_escape -}}</h3>
            <p class="card-text text-justify pb-3">{{- site.data.i18n.home.card.desc[page.lang][1] | strip_html | strip_newlines | xml_escape -}}</p>
          </div>
          <div class="card-footer">
            {%- for my_page in site.data.navigation -%}
            {%- if my_page.id == "female" -%}
            <a href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn btn-sm" role="button">
            {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4 px-1">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{- site.data.i18n.home.card.title[page.lang][2] | strip_html | strip_newlines | xml_escape -}}</h3>
            <p class="card-text text-justify pb-3">{{- site.data.i18n.home.card.desc[page.lang][2] | strip_html | strip_newlines | xml_escape -}}</p>
          </div>
          <div class="card-footer">
            {%- for my_page in site.data.navigation -%}
            {%- if my_page.id == "child" -%}
            <a href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn btn-sm" role="button">
            {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid jumbotron-info">
    <div class="container">
      <p class="text-justify">{{- site.data.i18n.home.jumbotron[page.lang] | strip_html | strip_newlines | xml_escape -}}</p>
      {%- for my_page in site.data.navigation -%}
      {%- if my_page.id == "contact" -%}
      <a href="{{- my_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn" role="button">
      {{- my_page.name[page.lang] | strip_html | strip_newlines | xml_escape -}}
      </a>
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>

  <div class="container doctors my-5">
    {%- assign doctors_base = site.thumbnail.base | append: site.thumbnail.author.dir -%}
    <h2 class="text-center doctors-title pb-4">{{- site.data.i18n.home.about[page.lang] | strip_html | strip_newlines | xml_escape -}}</h2>
    <div class="row row-cols-1 row-cols-md-3 justify-content-around">
      <div class="col-md-4 mb-4 px-3">
        <div class="card h-100 border-0">
          ​<picture>
            <source srcset="{{- doctors_base | append: site.thumbnail.author.doctor_1 | append: '.webp' | relative_url -}}" type="image/webp">
            <source srcset="{{- doctors_base | append: site.thumbnail.author.doctor_1 | append: '.jpg' | relative_url -}}" type="image/jpeg">
            <img src="{{- doctors_base | append: site.thumbnail.author.doctor_1 | append: '.jpg' | relative_url -}}" class="card-img-top doctors-img" alt="{{- doctors_base | append: site.thumbnail.author.doctor_1_alt -}}">
          </picture>
          <div class="card-body px-0">
            <h5 class="card-title text-center pt-3">{{- site.data.i18n.home.doctors.title[page.lang][0] | strip_html | strip_newlines | xml_escape -}}</h5>
            <p class="card-text text-justify">{{- site.data.i18n.home.doctors.desc[page.lang][0] | strip_html | strip_newlines | xml_escape -}}</p>
          </div>
          <div class="card-footer border-0 pl-0">
            {%- for my_page in site.data.navigation -%}
            {%- if my_page.id == "about" -%}
            {%- for about_page in my_page.subitem -%}
            {%- if about_page.id == "about-1" -%}
            <a href="{{- about_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn btn-primary btn-sm" role="button">
            {{- site.data.i18n.continue[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endif -%}
            {%- endfor -%}
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 px-3">
        <div class="card h-100 border-0">
          ​<picture>
            <source srcset="{{- doctors_base | append: site.thumbnail.author.doctor_2 | append: '.webp' | relative_url -}}" type="image/webp">
            <source srcset="{{- doctors_base | append: site.thumbnail.author.doctor_2 | append: '.jpg' | relative_url -}}" type="image/jpeg">
            <img src="{{- doctors_base | append: site.thumbnail.author.doctor_2 | append: '.jpg' | relative_url -}}" class="card-img-top doctors-img" alt="{{- doctors_base | append: site.thumbnail.author.doctor_2_alt -}}">
          </picture>
          <div class="card-body px-0">
            <h5 class="card-title text-center pt-3">{{- site.data.i18n.home.doctors.title[page.lang][1] | strip_html | strip_newlines | xml_escape -}}</h5>
            <p class="card-text text-justify">{{- site.data.i18n.home.doctors.desc[page.lang][1] | strip_html | strip_newlines | xml_escape -}}</p>
          </div>
          <div class="card-footer border-0 pl-0">
            {%- for my_page in site.data.navigation -%}
            {%- if my_page.id == "about" -%}
            {%- for about_page in my_page.subitem -%}
            {%- if about_page.id == "about-2" -%}
            <a href="{{- about_page.link[page.lang] | strip_html | strip_newlines | uri_escape | relative_url -}}" class="btn btn-primary btn-sm" role="button">
            {{- site.data.i18n.continue[page.lang] | strip_html | strip_newlines | xml_escape -}}
            </a>
            {%- endif -%}
            {%- endfor -%}
            {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
