---
layout: default
---
<main aria-label="Main Content">
  <article class="post">
    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>{{- page.title | strip_html | strip_newlines | xml_escape -}}</h1>
        </div>
      </div>
    </header>
    <div class="post-content">
      <div class="container">
        {%- if page.youtubeId -%}
        <div class="row mb-3">
          <div class="col-lg-8">
            <div class="embed-container">
              <div class="embed-container-downstream">
                <iframe
                    src="https://www.youtube.com/embed/{{- page.youtubeId -}}"
                    width="700"
                    height="480"
                    frameborder="0"
                    autoplay="false"
                    muted="false"
                    allowfullscreen="true">
                </iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-4 toc">
            <div class="pt-3 toc-wrapper">
              <span class="p-3">{{- site.data.i18n.toc[page.lang] | strip_html | strip_newlines | xml_escape -}}</span>
              {% include toc.html html=content sanitize=true h_max=2 h_min=2 skipNoIDs=true %}
            </div>
          </div>
        </div>
        {%- endif -%}
        {{ content }}
      </div>
    </div>
  </article>
</main>

<!-- <aside>
  <div class="container">
    {% include calltoaction.html %}
  </div>
</aside> -->
